{% extends 'navbar/navbar.html' %}
{% block style %}
.wrapper{
  position: relative;
  max-width: 750px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #cc0000;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #cc0000;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
{% endblock %}
{% block content %}
<div class="wrapper">
      <h2>Abra sua conta</h2>
      <form action="." method="POST">{% csrf_token %}
        <div class="input-box">
          <input type="text" name="given_name" maxlength="50" required="" id="id_given_name" placeholder="Nome ou nome composto">
        </div>
        <div class="input-box">
          <input type="text" name="last_name" maxlength="50" required="" id="id_last_name" placeholder="Sobrenome">
        </div>
        <div class="input-box">
          <input type="text" name="cpf"  required="" id="id_cpf" placeholder="CPF (só os números)">
        </div>
        <div class="input-box">
          <input type="text" name="birth_date" required="" id="id_birth_date" placeholder="Data de nascimento">
        </div>
        <div class="input-box">
          <input type="email" name="email" maxlength="50" required="" id="id_email" placeholder="email">
        </div>
        <div class="input-box">
         <input type="text" name="phone" maxlength="50" required="" id="id_phone" placeholder="telefone">
        </div>
        <div class="input-box button">
          <input type="Submit" value="Abra sua conta">
        </div>
      </form>
</div>
{% endblock %}